/.metadata/
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
*.xmi
*.resources
*.index
*.txt
*.dat
*.xmi
*.resources
*.log
